.heading{
    animation: yourAnimation 4s infinite 4s ease-out;
}
@keyframes yourAnimation{
    0%{
        opacity: 0;
        }
    83%{
        opacity: 1;
        font-size: 60px;
        font-weight: 700;
        }
}

* {
  box-sizing: border-box;
  }

body {
  font-family: Arial, Helvetica, sans-serif,'Times New Roman', Times, serif;
}

/* Style the header */
header {
  background-color: #558;
  padding: 0%;
  text-align: center;
  font-size: 40px;
  color: white;
}
aside{
    width:50%;
    background-image: url("");
    padding-left: .5rem;
    margin-left: .5rem;
    float: right;
    box-shadow: inset 5px 0 5px -5px #29627e;
    font-style: italic;
    color: #29627e;
}


/* Create two columns/boxes that floats next to each other */
nav .album_playlist{
  float: left;
  width: 50%;
  
  background: ;
  padding: 20px;
  border: 5.5px solid DodgerBlue;
  color: black;
}


/*<h1  style="text-align:center;font-size:550%; color:orange; font-family:courier;border:2px solid DodgerBlue">TAYLOR SWIFT SONGS</h1>*/

/* Style the list inside the menu */
nav ul.album_playlist {
  list-style-type: none;
  padding: 10px;
  font color: #f1f1f1 ;
} 

article {
  float: left;
  padding: 10px;
  width: 50%;
  background-color: ;
  color: black;
  border:5.5px solid DodgerBlue;
 
}

/* Clear floats after the columns */
section:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
footer {
  background-color: black ;
  padding: 10px;
  text-align: center;
  color: white;
  border-color:green;
  border-style: dotted;
}
a:link                             /*about link*/
{
  color:pink;
}
a:visited
{
  color:brown;
}

a:hover
{
    color:yellow;
}
a:active
{
  color:blue;
}
h2
{
  color:grey;
}
h5
{
  color:orange;
}

#map
{
  height:400px;
  width:100%;
}
.marginauto {
    margin: 10px auto 20px;
    display: block;
}


input:focus
{
  background-color: yellow;
}
p.important
{
  color:light pink;
}
p.hesitate
{
  color:light brown;
}
body
{
  /* background-image: url("https://lh3.googleusercontent.com/fokUeEtcl4IQXL8ufgE9lVdnTchHD6tx4YQHMGnuV_AdxyESx6mF8X7qoH-I4WfGGU2vyT9BsO11YFiO31VzXCgfv2CZcfuaIUzBOZRCbajh9XSWdrndOCWLogZwKKfDtSBHZNeT=w2400"); */
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
}
.myText{
  width:200px;
  height: 40px;
}
footer a {
  color: #70726F;
  font-size: 20px;
  padding: 10px;
  
  transition: all .5s ease;
}

footer a:hover {
  color: white;
}
 /*for toggling up and down about "taylor swift"*/
#panel, #flip {
  padding: 5px;
  text-align: center;
  background-color: #e5eecc;
  border: solid 1px #c3c3c3;
}

#panel {
  padding: 50px;
  display: none;
}


/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 500px) {
  nav, article {
    width: 100%;
    height: auto;
  }
  @viewport{
    width:device-width;
    zoom:1.0;
  }
  @-ms-viewport{
    width:device-width;
  }
}